/* ========= BUTTONS ==================*/
.main-button {
	padding: 18px 40px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #fb565a;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 16px;
	line-height: 18px;
	border-radius: 5px;
	display: inline-block;
}
.main-button:active {
	box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
	color: rgba(255,255,255, 0.3);
}
.btn-red:hover {
	background-color: #e74246;
}
	
.btn-red:active {
	background-color: #d7373b;
}
.btn-green {
	background-color: #00ca74;
}
.btn-green:hover {
	background-color: #00bc6c;
}
.btn-green:active {
	background-color: #00aa62;
}

.btn-yellow {
	background-color: #efc84a;
}
.btn-yellow:hover {
	background-color: #eab534;
}
.btn-yellow:active {
	background-color: #e5a722;
}

/* ========= BUTTONS  END==================*/

h3 {
	font-family: "Roboto Bold", sans-serif;
	font-size: 24px;
	line-height: 30px;
	margin: 25px 0 30px 0;
	text-transform: uppercase;
}
h5 {
	font-family: "Roboto Bold", sans-serif;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}
.hr {
	height: 2px;
	width: 100%;
	background-color: #eee;
	margin: 80px 0 0;
}
/*Section HEADER  =========================================================*/

header.main-header,
.shop {
	background-color: #eeeeee;
}
header.main-header a {
	margin-left: auto;
}
.wrapper {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.main-header {
	padding-top: 49px;
}
.flexing {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.logo{
	margin-right: 200px;
}
.logo:hover img{
	opacity: 0.8;
}
.logo:active img{
	opacity: 0.3;
}
.header-nav {
	padding-top: 15px;
}
.header-nav__menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.header-nav__item {
	display: inline-block;
	margin-right: 48px;
}
.header-nav__item a {
	padding-bottom: 7px;
}
.header-nav__item:hover a{
	color: #fb565a;
}
.header-nav__item:active a{
	color: #000000;
	opacity: 0.3;
}
.header-nav__item.active a {
	border-bottom: 2px solid #fb565a;
}
.header-nav__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 16px;
}
.main-header .btn {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 16px;
	padding-top: 22px;
}
.main-header a.btn:hover{
	color: #fb565a;
}
.main-header a.btn:active{
	color: #000000;
	opacity: 0.3;
}
.main-header a.btn.active {	
	border-bottom: 2px solid #fb565a;
	padding-bottom: 7px;
}
[class^="icon-"] {

}
.main-header a.icon-cart:before {
  content: "\f07a";
  margin-right: 26px;
  opacity: 0.3;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.main-header a.icon-cart:hover:before {
	color: #000;
}
.main-header a.icon-cart:active:before {
	color: #000;
	opacity: 1;
}

/*Section TOP_SLIDER  =========================================================*/


.top-slider {
	background-color: #eeeeee;
	margin-bottom: 80px;
}
.top-slider__item {
	min-height: 431px;
	position: relative;
	justify-content: flex-start;
}
.item-descr__title {
	font-size: 55px;
	font-family: 'Roboto Medium', sans-serif;
	line-height: 55px;
	margin: 0 0 30px 0;
}
.item-descr__text {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	color: #283136;
	margin-bottom: 45px;
}

.item-descr__button {
	padding: 18px 54px;	
	display: inline-block;
}
.top-slider__item-image {
	position: absolute;
	bottom: 0;
	right: 0;
}
/*slider*/
ul.slick-dots  {
	position: absolute;
	bottom: 90px;
    right: calc(50% - 60px);
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 17px 0 0;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
	position: relative;
	width: 18px;
	height: 18px;
	font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    border: 0;
    /*outline: none;*/
    background-color: #fff;
    border-radius: 50%;
}
.slick-dots li.slick-active button:before {
	content: '';
	position: absolute;
	right: 5px;
	top: 5px;
	width: 4px;
	height: 4px;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}
/*slider END*/

/*Section Products BEGIN ==================================================*/
.products {
	margin-bottom: 40px;
}
.products_list {
	justify-content: space-between;
}
.product_item {
	max-width: 300px;
	margin-right: 60px;
}
.product_item .product_info {
	font-family: "Robot Regular", sans-serif;
	font-size: 16px;
	line-height: 24px;	
	margin-bottom: 35px;
	padding-right: 50px;
}

/*Section Products END======================================*/

/*Section Info BEGIN ======================================*/
.info {	
	margin-bottom: 40px;
}
.info .flexing {
	justify-content: space-between;
}
.info_spec {
	max-width: 700px;
	padding-top: 90px;
}
.info_title {
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	line-height: 45px;
	margin: 0 0 30px 0;
}
.info_descr {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	padding-right: 40px;
}
.info h4 {
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.info_spec-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.info_fact {
	position: relative;
	padding-left: 37px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
}

.info_fact::before{	
	content: '';
	display: inline-block;
	width: 25px;
	height: 2px;
	position: absolute;
	left: 0;
	top: 50%;
	background-color: #fb565a;
}

.info_diagram-item span{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 45px;	
}
sup {
	font-size: 25px;
	left: -10px;
}
.info_diagram-item p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 18px;
	max-width: 115px;
	padding-right: 5px;
}

/*Section Info END=========================================*/

/*Section Proects BEGIN====================================*/
.proects {
	margin-bottom: 80px;
}
.proects .flexing {
	justify-content: space-around;
}
.proects img {
	opacity: 0.3;
}
.proects a:hover img {
	opacity: 1;
}
.proects a:active img {
	opacity: 0.2;
}
.proects .hr {
	margin-top: 35px;
}
/*Section Proects END======================================*/

/*Section Map Begin========================================*/
.map {
	margin-bottom: 70px;
}
.map .wrapper {
	position: relative;
}
.address_card {
	position: absolute;
	top: -379px;
	background-color: #fff;
	padding: 55px 50px 50px;
	max-width: 320px;
}
.address_card h5 {
	margin-top: 0;
}
.address_card p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #666;
}
.address_card .addr {
	margin-bottom: 20px;
}
.address_card .tel {
	margin-bottom: 40px;
}
	/*Form begin===========*/
.contacts {
	display: none;
	position: absolute;
	z-index: 2;
	top: -550px;
    left: 120px;

	padding: 75px 100px 85px;
	width: 100%;
	max-width: 760px;

	color: #000;
	background-color: #fff;
	box-shadow: 0 20px 40px rgba(0,1,1, 0.75);
}
.contacts-show {
	display: block;
	animation: bounce 0.6s;
}
.contacts-close {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 90px;
    right: 90px;

	font-size: 0;

	background-color: transparent;
	border: 0;
	cursor: pointer;
}
.contacts-close::after,
.contacts-close::before {
	content: '';
	position: absolute;
	top: 8px;
	left: -1px;

	width: 25px;
	height: 5px;

	background-color: #fecccd;
}
.contacts-close::before {
	transform: rotate(45deg);
}
.contacts-close::after {
	transform: rotate(-45deg);
}
.contacts-close:hover::after,
.contacts-close:hover::before {
	background-color: #fb565a;
}
.contacts-close:active::after,
.contacts-close:active::before {
	background-color: #ffeeee;
}
.contacts h2 {
	margin: 0;
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	line-height: 45px;
}
.contacts-message label {
	width: 100%;
	display: block;
}
.contacts-message label:first-child {
	margin-right: 40px;
}
.contacts-message input {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #444;
	height: 46px;
	border: 2px solid #d7dcde;
	padding: 0 14px;
}
.contacts-message input:hover{
	border: 2px solid #b4b9bb;
}
.contacts-message input:focus{
	border: 2px solid #000;
	/*outline: transparent;*/
}
.contacts-message input[type=text] {
	max-width: 328px;
	margin-bottom: 35px;
	width: 100%;
}
.contacts-message span {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #000;
	display: block;
	max-width: 360px;
	margin-bottom: 12px;
}
.contacts-message .contacts_name {
}
.contacts-message .contacts_text {
	max-width: 728px;
	width: 100%;
	min-height: 115px;
	margin-bottom: 47px;
}
.contacts-message button {
	display: block;
	border: none;
	width: 260px;
}
		/*Overlay*/
.contacts-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
	/*Form end=============*/



/*Section Map END==========================================*/

/*Footer Begin=============================================*/
.main-footer {
	padding-bottom: 70px;
}
.social {
	margin-right: 140px;
	display: inline-block;
	vertical-align: middle;
}
.social-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.social-item {
	display: inline-block;
	margin-right: 10px;
}
.social-link {
	text-decoration: none;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #e1e1e1;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.social-link:hover {
	background-color: #e74246;
}
.social-link:active{
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0 0 rgba(0,1,1, .1);
}
.social-descr {
	display: inline-block;
	vertical-align: middle;
}
.social-title {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 12px;
	margin-top: 0;
}
.social-sale {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #444;
	margin: 0;
}
/*Footer END=============================================*/

@keyframes bounce {
	0% {transform: translateY(-200px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}

@keyframes shake {
	0%, 100% 			{transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80%	{transform: translateX(10px);}
}

.modal-error {
	animation: shake 0.6s;
}

/*Catalog.html============================================*/


/*section shop begin==============================================*/
.shop {
	margin-bottom: 60px;
}
.shop-title {
	font-family: "Roboto", sans-serif;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	color: #000;
	padding: 81px 0 117px;
	margin: 0;
}
/*section shop END==============================================*/

/*section main-catalog begin ==================================*/
.main-catalog {
	margin-bottom: 60px;
}
.main-catalog .flexing {
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

	/*form begin*/
.catalog-form {
	max-width: 260px;
	width: 100%;
}
.catalog-form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.catalog-form .range-filter-title {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.range-filter {
	max-width: 260px;
	font-family: "Roboto", sans-serif;
}
.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 20px;
	background: #f1f1f1;
	border-radius: 5px;
	overflow: hidden;
}
.range-controls .scale {
	margin-top: 39px;
	height: 2px;
	background: #d7dcde;
}
.range-controls .bar {
	height: 2px;
	background: #00ca74;
}
.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background: #ababab;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle {
	left: 120px;
}
.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	border: none;
	background: #f1f1f1;	
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	color: #283136;
	border-radius: 5px;
}
.price-controls {
	position: relative;
}
.min-price-wrap,
.max-price-wrap {
	position: absolute;
}
.min-price-wrap {
	left: 0;
}
.max-price-wrap {
	right: 0;
}
.form-grids-title,
.form-features-title {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.form-grids-title {
	margin-top: 108px;
}
.catalog-form .catalog-form-grids {
	margin-bottom: 50px;
}
.catalog-form-grid {
	margin-bottom: 15px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}
.catalog-form-grid input[type="radio"]{
	display: none;
}
.catalog-form-grid .radiobutton {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: middle;	
	border: 4px solid #b8b8b8;
	border-radius: 50%;
	margin-right: 10px;
	color: #283136;

}
.catalog-form-grid input[type="radio"]:checked + .radiobutton:before {
	content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 9px;
    height: 9px;
    background-color: #b8b8b8;
    border-radius: 50%;
}
.catalog-form-grid:hover .radiobutton {
	border: 4px solid #4d4d4d;
	color: #000;
}
.catalog-form-grid:hover input[type="radio"]:checked + .radiobutton:before {
	background-color: #4d4d4d;
}
.catalog-form .catalog-form-features {
	margin-bottom: 50px;
}
.catalog-form-feature {
	margin-bottom: 17px;
}
.catalog-form-feature input {
	display: none;
}
.catalog-form-feature input[type="checkbox"] + label {
	display: block;
	margin: 10px 0;
	line-height: 20px;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
}
.catalog-form-feature input[type="checkbox"] + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 24px;
	background-image: url(../img/sprite_checkboxes.png);	
	background-position: -7px -10px;
	background-repeat: no-repeat;
}
.catalog-form-feature input[type="checkbox"]:checked + label:before {
	background-image: url(../img/sprite_checkboxes.png);	
	background-position: -50px -10px;
	background-repeat: no-repeat;
}
/*.catalog-form */.catalog-button {
	max-width: 260px;
	width: 100%;
	border: none;
	background-color: #eeeeee;
	color: #000;
	font-family: "Roboto Medium", sans-serif;
	font-size: 16px;
	line-height: 18px;
}
/*.catalog-form */.catalog-button:hover{
	background-color: #dfdfdf;
	color: #1e1e1e;
}
/*.catalog-form */.catalog-button:active{
	background-color: #d5d5d5;
	color: #b7b7b7;
	box-shadow: inset 0 3px 0 0 rgba(0,1,1, .1);
}


	/*form end*/

.catalog-items {
	max-width: 760px;
	width: 100%;
}
.catalog-items p {
	margin-top: 18px;
}
.catalog-items .items-sort-title {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;	
	line-height: 30px;
	display: inline-block;
	max-width: 360px;
	width: 100%;
	margin-right: 40px;
}
.catalog-items .items-sort-point button {
	text-transform: uppercase;
	font-family: "Roboto", sans-srif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0,0,0, 0.3);
	margin-right: 7px;
}
.catalog-items .items-sort-point button {	
	width: auto;
	border:none;
	background-color: transparent;
	cursor: pointer;
}
.catalog-items .items-sort-point button:hover{
	color: rgba(0,0,0, 0.6);
}
.catalog-items .items-sort-point button:active {
	color: rgba(0,0,0, 1);
}
.catalog-items .items-sort-point button.down-arrow,
.catalog-items .items-sort-point button.up-arrow {
	width: 0;
	height: 0;
	padding: 0;
	border: 9px solid transparent;
	border-left: 4.5px solid transparent;
	border-right: 4.5px solid transparent;
}
.catalog-items .items-sort-point button.down-arrow {
	margin-left: 18px;
	margin-right: 15px;
	border-top-color: rgba(0,0,0, 0.3);
	border-bottom: 0;
	vertical-align: middle;
}
.catalog-items .items-sort-point button.up-arrow {
	border-bottom-color: rgba(0,0,0, 0.3);
	border-top: 0;
	vertical-align: middle;
}
.catalog-items .items-sort-point button.down-arrow:hover {
	border-top-color: rgba(0,0,0, 0.6);
}
.catalog-items .items-sort-point button.down-arrow:active {
	border-top-color: rgba(0,0,0, 1);
}
.catalog-items .items-sort-point button.up-arrow:hover {
	border-bottom-color: rgba(0,0,0, 0.6);
}
.catalog-items .items-sort-point button.up-arrow:active {
	border-bottom-color: rgba(0,0,0, 1);
}

	/*catalog-items-main*/

.catalog-items-main {
	margin-bottom: 24px;
}

.catalog-items-main.flexing {
	justify-content: space-between;
	flex-wrap: wrap;
}
.catalog-item {
	position: relative;
	max-width: 360px;
	margin-bottom: 36px;
}
.catalog-item-head {
	height: 41px;	
	line-height: 41px;
	background-color: #e9e9e9;
	font-size: 0;
}
.catalog-item-head span {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #fff;	
	vertical-align: middle;
	margin-right: 9px;
}
.catalog-item-head span:first-child {
	margin-left: 16px;
}
.catalog-item-info {
	display: none;
	position: absolute;
	bottom: 4px;
	background-color: #eeeeee;
	text-align: center;
	padding: 22px 60px 43px;
}
.catalog-item:hover .catalog-item-info {
	display: block;
}
.catalog-item:hover .catalog-item-head {
	background-color: #4d4d4d;
}
.catalog-item-info .item-info-title {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 0;
}
.catalog-item-info .item-info-descr {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #666;
	margin-bottom: 30px;
	margin-top: 0;
}


/*section main-catalog END ==================================*/

/*section footer-catalog BEGIN ==================================*/
.paginator {
	font-size: 0;
}
.paginator-btn {
	width: 50px;
	height: 50px;
	padding: 0;
	margin-right: 11px;
}
.paginator-btn-next {
	height: 50px;
	padding: 0;
}
.paginator-btn.active {
	background-color: #fff;
	box-shadow: inset 0 0 0px 3px #dbdbdb;
}

/*section footer-catalog END ==================================*/



/*== helpful classes, hold at the end of stylesheet ==*/
.show {
	display: block; 
}